<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @device.Nom %>
</p>

<p>
  <strong>Codeiso:</strong>
  <%= @device.CodeIso %>
</p>

<p>
  <strong>Codeisonum:</strong>
  <%= @device.CodeIsoNum %>
</p>

<p>
  <strong>Symbole:</strong>
  <%= @device.Symbole %>
</p>

<%= link_to 'Modifier', edit_device_path(@device) %> |
<%= link_to 'Précedent', devices_path %>
